body {
  margin: 2em;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  color: #369;
  font-size: 250%;
}

h2, h3 {
  font-weight: lighter;
}

h2 {
  color:blueviolet;
}

h3 {
  color: #444;
}

span {
  font-weight: bold;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #f1f1f1;
  color: #969494;
}
